.payments {
  margin-top: 98px;

  .wrapper {
    justify-content: space-between;
    display: flex;
    max-width: 1368px;
    width: 100%;

    &-item {
      &:first-child {
        h4 {
          text-transform: uppercase;
          font-family: Euclid;
          position: relative;
          bottom: 4px;
        }
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        gap: 26px;
        max-width: 556px;

        hr {
          height: 1px;
          width: 100%;
          margin: 0;
        }

        .block {
          display: flex;
          gap: 42px;

          div {
            display: flex;
            flex-direction: column;
            gap: 24px;

            p {
            max-width: 409px;
            &:first-child {
                font-weight: 600;
                font-size: 24px;
                gap: 22px;
                line-height: 130%;
                display: flex;
                align-items: center;

                span {
                  display: flex;
                  align-items: center;
                  gap: 6px;
                }
              }
            }
          }
          &:last-child{
            gap: 48px;
            div {
              margin-top: 6px;
            }
          }
        }
      }
    }

  }
}