.programs {
  margin-top: 160px;
  margin-right: 36px;

  h2 {
    align-self: start;
  }

  .wrapper {
    margin-top: 40px;
    row-gap: 23px;
    column-gap: 24px;
    display: grid;
    grid-template-areas: 'a a b b c c''d d d e e e';
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 468px 296px;

    &-item {
      display: flex;
      flex-direction: column;
      padding: 32px 20px;
      border-radius: 12px;
      position: relative;

      .text {

        p {
          margin-top: 0px;
          font-size: 16px;
          line-height: 140%;
          color: $black-middle;
          opacity: 0.7;

          &:first-child {
            font-size: 32px;
            line-height: 120%;
            color: black;
            opacity: 1;
          }

          &:nth-child(2) {
            margin-top: 19px;
          }
        }
      }

      .images {
        position: absolute;
        width: 248px;
        bottom: 109px;
        height: 154px;
        margin-top: auto;
        left: 22px;

        img {
          position: absolute;
          top: 0;

          &:first-child {
            left: 0px;
          }

          &:last-child {
            top: -4px;
            right: 0px;
            z-index: 1;
          }
        }

      }

      button {
        max-width: 248px;
        min-height: 46px;
        font-size: 16px;
        transition: all ease .3s;
        margin-top: auto;
        border: 1px solid;
        background-color: transparent;
      }

      &:hover button {
        color: $white  !important;
      }

      &:nth-child(1) {
        grid-area: a;
        background-color: $green-darker;

        button {
          border-color: $green-dark;
          color: $green-light;

        }

        &:hover button {
          background: $green-light;
          border-color: $green-light;
        }
      }

      &:nth-child(2) {
        grid-area: b;
        background-color: $grey-lighter;

        button {
          border-color: $purple;
          color: $purple-light;

        }

        &:hover button {
          background: $purple-light;
          border-color: $purple-light;
        }
      }

      &:nth-child(3) {
        grid-area: c;
        background-color: $blue-lighter;

        button {
          border-color: rgba(182, 224, 255, 1);
          color: $blue;

        }

        &:hover button {
          border-color: $blue;
          background: $blue;
        }
      }

      &:nth-child(4) {
        grid-area: d;
        background-color: $yellow-lighter;

        button {
          border-color: $yellow-light;
          color: $yellow;

        }

        &:hover button {
          background: $yellow;
          border-color: $yellow;
        }
      }

      &:nth-child(5) {
        grid-area: e;
        background-color: $red-lighter;

        button {
          border-color: rgba(237, 85, 71, 0.32);
          color: $red;

        }

        &:hover button {
          background: $red;
          border-color: $red;
        }
      }

      &:nth-child(4),
      &:nth-child(5) {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 28px;

        .text {

          p:nth-child(1) {
            margin-top: 17px;
          }

          p:nth-child(2) {
            margin-top: 16px;
            max-width: 360px;
          }
        }

        .images {
          position: absolute;
          top: 34px;
          right: 18px;
          left: unset;
          bottom: unset;

        }

        button {
          grid-area: c;
        }
      }
    }

  }
}