.slider {
  position: relative;
  padding: 0 25px 100px;
  margin-top: 4px;

  .background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    .splide {
      max-width: 100%;
      position: absolute;

      &__track {
        overflow: hidden;
        position: relative;
        max-width: 1488px;
        max-height: 775px;
      }

      &__list {
        width: 100%;
        display: flex;
        gap: 2px;
      }

      &__slide {
        min-width: 1488px;
        height: 100%;

        img {
          display: flex;
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }

      &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        &--prev {
          left: 25px;
        }

        &--next {
          right: 25px;
        }
      }

      &__pagination {
        display: flex;
        position: absolute;
        bottom: 35px;
        left: 0;
        max-width: 1467px;
        width: 100%;
        justify-content: space-between;
        padding: 0 60px;

        button {
          padding: 11px 13px;
          font-size: 16px;
          color: $white;
          background: $slider-pag;
          border: 1px solid $slider-pag-border;
          border-radius: 32px;
          font-weight: 400;
          text-transform: uppercase;
          position: relative;
          overflow: hidden;

          &:after {
            content: '';
            position: absolute;
            left: -100%;
            top: 0;
            height: 100%;
            width: 100%;
            background: $slider-pag-after;
            transition: left 0s;
          }

          &.is-active {
            font-weight: 600;

            &:after {
              left: 0;
              transition: left linear 6s;

            }

          }
        }

      }
    }
  }

  .content {
    position: relative;
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    max-width: 1488px;

    h1 {
      position: absolute;
      opacity: 0;
      z-index: -5;
      line-height: 110px;
      top: 60px;
      left: 35px;
      text-transform: uppercase;
      transition: opacity ease-in-out .3s;

      p {
        letter-spacing: -0.9px;
        font-weight: 700;
        font-size: 96px;
        margin: 0;

      }

      &.active {
        opacity: 1;
        z-index: 0;
      }
    }

    p {
      margin-top: 296px;
      margin-left: 35px;
      font-weight: 400;
      font-size: 28px;
    }

    .mini-slider {
      position: relative;
      margin-left: 35px;
      margin-top: 14px;
      overflow: hidden;
      min-height: 270px;
      max-width: 576px;

      .splide {

        &__track {
          min-height: 270px;
          max-width: 576px;
          position: relative;

          &:before {
            content: '';
            display: flex;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 450px;
            height: 157px;
            background: $white;
            border-radius: 8px;
          }

        }

        &__list {
        }

        &__slide {
          min-height: 270px;
          max-width: 576px;
          width: 100%;
          display: flex;
          flex-direction: column;
          position: absolute;
          opacity: 0;
          justify-content: center;
          padding-left: 15px;

          h4 {
            font-weight: 600;
            font-size: 24px;
            margin-left: 9px;
          }

          p {
            margin-top: 4px;
            margin-left: 8px;
            font-weight: 400;
            font-size: 16px;
            max-width: 260px;
          }


          img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          &.is-visible {
            opacity: 1;
          }
        }

        &__pagination {
          position: absolute;
          display: flex;
          bottom: 22px;
          left: 32.4%;
          transform: translateX(-50%);
          gap: 12px;

          button {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            border: none;
            outline: none;
            background-color: $slider-pag1;

            &.is-active {
              background-color: $white;
            }
          }
        }

      }
    }

    .choice {
      display: flex;
      flex-direction: column;
      border: transparent;
      justify-content: center;
      align-items: center;
      line-height: 150%;
      height: 240px;
      width: 240px;
      border-radius: 50%;
      padding-bottom: 19px;
      letter-spacing: -1.1px;
      background: linear-gradient(0deg, #A9D953, #A9D953), #33D16D;
      outline: none;
      top: 370px;
      right: 467px;
      font-weight: 600;
      font-size: 24px;
      text-transform: uppercase;
      position: absolute;
      text-align: center;

      svg {
        position: absolute;
        top: 43px;
      }
    }
  }
}