html {
  font-family: Commissioner;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

h1, h2, h3 {
  font-family: Euclid;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 130%;

  &:not(h1) {
    em {
      color: $green;
    }
  }
}

h2 {
  font-size: 76px;
}

h3 {
  font-size: 56px;
  line-height: 70px;
}

h4 {
  font-size: 48px;
}

button:not(.header-button) {
  font-family: Euclid !important;
  transition: background-color .3s ease;
  background-color: $green-light;
  border-radius: 100px;
  color: $white;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
  text-transform: uppercase;
  border: transparent;
  outline: none;

  &:hover {
    background: $green;
  }
}

header, footer {
  a {
    transition: all ease-in-out 0.3s;

    &:hover {
      color: #9BD03D;
    }
  }
}
