$grey: #4F5651;
$grey-middle: #868B88;
$grey-middle-light: #C3C5C3;
$black-middle: #040E07;
$grey-lighter: #F8F6FF;
$grey-light: #E1E2E1;
$green: #9BD03D;
$green-light: #A9D953;
$green-lighter: #D6DDBC;
$green-dark: rgba(169, 217, 83, 0.32);
$green-darker: rgba(169, 217, 83, 0.15);
$green-accent:#F2F9E5;
$white: #FFFFFF;
$pink-light: #fffaf2;
$blue-light1: rgba(182, 224, 255, 1);
$blue: #27A5FE;
$blue-light: #ECF2FF;
$blue-lighter: #E5F4FF;
$purple: rgba(118, 70, 255, .32);
$purple-light: #7646FF;
$yellow-lighter: #FFF4E1;
$yellow-light: rgba(255, 223, 170, 1);
$yellow: #FEB334;
$red-lighter: #FDEEED;
$red-darker: rgba(237, 85, 71, 0.32);
$red: #ED5547;

$slider-pag  : rgba(255, 255, 255, 0.16);
$slider-pag1  : rgba(255, 255, 255, 0.6);

$slider-pag-after  : rgba(255, 255, 255, 0.32);
$slider-pag-border  : rgba(255, 255, 255, 0.64);

$grey-border: rgba(225, 226, 225, 1);