@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Black.woff") format("woff"), url("../fonts/Commissioner-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-ExtraLight.woff") format("woff"), url("../fonts/Commissioner-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Medium.woff") format("woff"), url("../fonts/Commissioner-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Light.woff") format("woff"), url("../fonts/Commissioner-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-SemiBold.woff") format("woff"), url("../fonts/Commissioner-SemiBold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Regular.woff") format("woff"), url("../fonts/Commissioner-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Bold.woff") format("woff"), url("../fonts/Commissioner-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-ExtraBold.woff") format("woff"), url("../fonts/Commissioner-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Bold-Italic.woff") format("woff"), url("../fonts/Euclid-Circular-A-Bold-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Bold.woff") format("woff"), url("../fonts/Euclid-Circular-A-Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Italic.woff") format("woff"), url("../fonts/Euclid-Circular-A-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Light-Italic.woff") format("woff"), url("../fonts/Euclid-Circular-A-Light-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Medium-Italic.woff") format("woff"), url("../fonts/Euclid-Circular-A-Medium-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Light.woff") format("woff"), url("../fonts/Euclid-Circular-A-Light.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Medium.woff") format("woff"), url("../fonts/Euclid-Circular-A-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-Regular.woff") format("woff"), url("../fonts/Euclid-Circular-A-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-SemiBold-Italic.woff") format("woff"), url("../fonts/Euclid-Circular-A-SemiBold-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face{
	font-family: Euclid;
	font-display: swap;
	src: url("../fonts/Euclid-Circular-A-SemiBold.woff") format("woff"), url("../fonts/Euclid-Circular-A-SemiBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Commissioner;
	font-display: swap;
	src: url("../fonts/Commissioner-Thin.woff") format("woff"), url("../fonts/Commissioner-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
