.banner {
  margin-top: 156px;

  .wrapper {
    display: flex;
    max-width: 1368px;
    width: 100%;
    min-height: 584px;
    position: relative;

    .wheel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 49.2%;
      transform: translateX(-50%);
      top: 54px;
      width: 552px;
      height: 552px;

      img {
        position: static;
      }

      svg {
        position: absolute;
        -webkit-animation: rotating 40s linear infinite;
        -moz-animation: rotating 40s linear infinite;
        -ms-animation: rotating 40s linear infinite;
        -o-animation: rotating 40s linear infinite;
        animation: rotating 40s linear infinite;
      }
    }

    img {
      position: absolute;

      &:nth-child(1) {
        left: 0;
        top: 27px;
      }

      &:nth-child(2) {
        left: 119px;
        bottom: 15px;
      }

      &:nth-child(3) {
        left: 250px;
        bottom: 213px;
      }

      &:nth-child(4) {
        left: 348px;
        top: 3px;
      }

      &:nth-child(6) {
        right: 298px;
        bottom: 74px;
      }

      &:nth-child(7) {
        right: 197px;
        top: 27px;
      }

      &:nth-child(8) {
        right: 0;
        bottom: 39px;
      }
    }
  }
}
