footer {
  display: flex;
  margin-top: 138px;
  max-width: 1440px;
  width: 100%;
  align-self: center;
  padding: 72px 60px 0;
  border-top: 1px solid #EBECEB;

  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;

    .top {
      display: flex;
      justify-content: space-between;

      .block {
        nav {
          display: flex;
          height: 100%;

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }

        button {
          display: flex;
          flex-direction: column;
          border: transparent;
          justify-content: center;
          align-items: center;
          line-height: 23px;
          height: 200px;
          width: 200px;
          border-radius: 50%;
          background: linear-gradient(0deg, #A9D953, #A9D953), #33D16D;
          outline: none;
          justify-self: center;
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
          text-align: center;
          color: $white;
        }

        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          gap: 60px;

          div {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
        }
      }
    }

    .middle {
    }

    .bottom {
    }
  }
}