footer {
  display: flex;
  margin-top: 153px;
  max-width: 1488px;
  width: 100%;
  align-self: center;
  padding: 71px 60px;
  border-top: 1px solid #EBECEB;

  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1368px;
    justify-content: center;

    .top {
      display: flex;
      font-size: 18px;

      .block {
        nav {
          display: flex;
          height: 100%;

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 28px;
          }
        }

        button {
          padding-top: 39px;
          display: flex;
          flex-direction: column;
          border: transparent;
          justify-content: center;
          align-items: center;
          line-height: 160%;
          height: 200px;
          width: 200px;
          position: relative;
          border-radius: 50%;
          background: linear-gradient(0deg, #A9D953, #A9D953), #33D16D;
          outline: none;
          justify-self: center;
          font-weight: 600;
          font-size: 18px;
          text-transform: uppercase;
          text-align: center;
          color: $white;

          svg {
            top: 46px;
            transform: scale(1.2);
            position: absolute;
          }
        }

        .phone {
          font-size: 24px;
        }

        .email {
          color: $grey-middle;
        }

        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          gap: 38px;
          margin-right: 91px;

          div {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
        }

        &:nth-child(2) {
          margin-right: 132px;

        }

        &:nth-child(4) {
          margin-left: auto;
        }
      }
    }

    .middle {
      margin-top: 36px;
      padding: 38px 0 32px;
      display: flex;
      border-top: 1px solid #EBECEB;
      border-bottom: 1px solid #EBECEB;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;

      .block {
        display: flex;
        align-items: center;

        a {
          color: $grey-middle;
          position: relative;
    bottom: 2px;
        }

        &:first-child {
          gap: 60px;
        }

        &:last-child {
          gap: 24px;
          font-size: 18px;
        }

        .social {
          display: flex;
          align-items: center;
          gap: 12px;

          a {
            position: relative;
            top: 2px;
            top: none;
          }
        }
      }
    }
  }

  .bottom {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;

    span {
      color: $grey-middle;
    }

    .block {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
