header {
  width: 100%;
  min-height: 80px;
  max-width: 1369px;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  align-self: center;
  position: relative;

  .header {
    &-wrapper {
      max-width: 1488px;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
    }

    &-logo {
      svg {
        margin-top: 5px;
      }
    }

    &-city {
      margin-left: 31px;
      position: relative;
      min-width: 187px;

      .current {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 500;

        svg {
          &:first-child {
            margin-right: 6px;
          }

          &:last-child {
            transition: all ease 0.3s;
            margin-left: auto;
            transform: rotate(180deg);

            &.active {
              transform: rotate(0deg);
            }
          }
        }
      }

      .hidden {
        width: 100%;
        font-weight: 400;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        top: calc(100% + 17px);
        left: 0;
        transition: all ease 0.3s;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: -5;

        a {
          padding: 12px;

          &:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }

        &.active {
          z-index: 5;
          overflow: visible;
          opacity: 1;
          background-color: #fff;

          a {
            transition: all ease 0.3s;

            &:hover {
              background-color: #f2f9e5;
            }
          }
        }
      }
    }

    &-nav {
      margin-left: 39px;

      ul {
        display: flex;
        gap: 24.2px;
      }
    }

    &-phone {
      margin-left: 33.3px;
    }

    &-button {
      margin-left: 24px;
      min-width: 175px;
      min-height: 48px;
      background: transparent;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid #040e07;
      border-radius: 24px;
      transition: all ease 0.3s;

      &:hover {
        background: #a9d953;
        border: transparent;
      }
    }

    &-dropdown {
      display: flex;
      position: absolute;
      width: 100%;
      max-width: 100vw;
      padding: 0 16px;
      min-height: 100vh;
      top: 100%;
      background-color: $white;
      left: 0;
      flex-direction: column;
    }

    &-burger {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 32px;
      min-height: 32px;
      align-self: flex-start;
      gap: 8px;
      margin-top: 5px;
      cursor: pointer;

      span {
        display: flex;
        background-color: $black-middle;
        width: 100%;
        max-width: 17px;
        height: 1px;
        border-radius: 2px;
      }
    }

    &-manager {
      display: flex;
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px solid $grey-light2;
    }
  }
}

@media (max-width: 999px) {
  header {
    max-width: unset;
    min-height: 73px;

    .header {
      &-logo {
        svg {
          margin-top: 5px;
        }
      }

      &-city {
        min-width: unset;
        margin-bottom: 20px;
        margin-left: 21px;

        .current {
          svg {
            height: 20px;
            margin-right: unset;

            &:first-child {
              margin-right: 2px;
            }

            &:last-child {
              margin-left: 16px;
            }
          }
        }
      }

      &-wrapper {
        max-width: unset;
        padding: 0 16px;
      }

      &-phone,
      &-button,
      &-nav {
        margin: unset;
      }

      &-nav {
        border-bottom: 1px solid $grey-light2;

        ul {
          flex-direction: column;
          gap: 0;
        }

        a {
          width: 100%;
          height: 100%;
          display: flex;
          padding: 20px 0;
          font-size: 18px;
        }
      }

      &-phone {
        font-size: 18px;
        margin-top: 24px;
      }

      &-button {
        margin-top: 20px;
      }
    }
  }
}

#background-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgba(4, 14, 7, 0.72);
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  transition: opacity 0.3s ease-out;

  &.active {
    opacity: 1;
    overflow: visible;
    z-index: 2;
  }
}

.order-call {
  max-width: 1164px;
  max-height: 521px;
  .wrapper {
    .block {
      display: flex;
      flex-direction: column;
      input[type="text"] {
        padding: 17px 17px 17px 44px;
        border: 1px solid $grey-light2;
        border-radius: 8px;
        color: $black-middle;
        font-size: 14px;
        &::-webkit-input-placeholder {
          color: $grey-middle;
        }
        &:nth-child(1) {
          background: url("/wp-content/themes/kravt-food/src/svg/user.svg")
            no-repeat scroll 18px 14px;
        }
        &:nth-child(2) {
          background: url("/wp-content/themes/kravt-food/src/svg/phone.svg")
            no-repeat scroll 18px 14px;
        }
      }
      label {
        font-size: 14px;
        color: $grey-middle;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        input[type="checkbox"] {
          margin: 0 10px 0 0;
          border: 1px solid $grey-middle-light;
          border-radius: 3px;
        }
      }
      &:first-child {
        gap: 20px;
      }
      &:last-child {
        gap: 32px;
        input,
        button {
          max-width: 360px;
        }
        button {
          padding: 18px 0;
        }
        .wheel {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 286px;
          height: 286px;
          img {
            &:last-child {
              position: absolute;
              -webkit-animation: rotating 20s linear infinite;
              -moz-animation: rotating 20s linear infinite;
              -ms-animation: rotating 20s linear infinite;
              -o-animation: rotating 20s linear infinite;
              animation: rotating 20s linear infinite;
            }
          }
        }
      }
    }
  }
}
