header {
  width: 100%;
  min-height: 80px;
  max-width: 1369px;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  align-self: center;
  position: relative;

  .header {
    &-wrapper {
      max-width: 1488px;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
    }

    &-logo {
      svg {
        margin-top: 5px;
      }
    }

    &-city {
      margin-left: 31px;
      position: relative;
      min-width: 187px;

      .current {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 500;

        svg {
          &:first-child {
            margin-right: 6px;
          }

          &:last-child {
            transition: all ease .3s;
            margin-left: auto;
            transform: rotate(180deg);

            &.active {
              transform: rotate(0deg);
            }
          }
        }
      }

      .hidden {
        width: 100%;
        font-weight: 400;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        top: calc(100% + 17px);
        left: 0;
        transition: all ease .3s;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        z-index: -5;

        a {
          padding: 12px;

          &:last-child {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }
        }

        &.active {
          z-index: 5;
          overflow: visible;
          opacity: 1;
          background-color: #fff;

          a {
            transition: all ease .3s;

            &:hover {
              background-color: #F2F9E5;
            }
          }
        }
      }
    }

    &-nav {
      margin-left: 39px;

      ul {
        display: flex;
        gap: 24.2px;
      }
    }

    &-phone {
      margin-left: 33.3px;
    }

    &-button {
      margin-left: 24px;
      min-width: 175px;
      min-height: 48px;
      background: transparent;
      outline: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      border: 1px solid #040E07;
      border-radius: 24px;
      transition: all ease .3s;

      &:hover {
        background: #A9D953;
        border: transparent;
      }
    }

    &-dropdown {
      display: flex;
      position: absolute;
      max-width: 100vw;
      max-height: 100vh;
      top: 100%;
      background-color: $white;
      left: 0;
      flex-direction: column;
    }
  }
}

@media (max-width: 999px) {
  header {
    max-width: unset;
    min-height: 73px;

    .header {
      &-logo {
        svg {
          margin-top: unset;
        }
      }
      &-wrapper {
        max-width: unset;
      }
      &-phone, &-button, &-nav {
        margin: unset;
      }

      &-nav {

        ul {
          flex-direction: column;
          gap: 0;
        }
      }
    }
  }
}
