.container.specialists {
  max-width: none !important;
}

.specialists {
  margin-top: 152px;;

  .head {
    max-width: 1368px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;

    h2 {
      align-self: center;
      display: inline;

      &:nth-child(1) {
        align-self: flex-start;
      }

      &:nth-child(2) {
        align-self: end;
        position: relative;
        bottom: 21px;

        img {
          position: relative;
          margin: 0px 8px;
          top: 23px;
        }
      }


      img {
        margin: 0 16px;
        display: initial;
        position: relative;
        top: 16px;
      }
    }
  }

  .peoples {
    margin-top: 16px;
    align-self: flex-start;
    max-width: calc(100vw - 17px);
    overflow: hidden;

    .splide {
      &__track {
        display: flex;
        flex-direction: column;
        gap: 37px;
        max-height: 527px;
      }

      &__list {
        display: flex;
      }

      &__slide {

        margin-left: -34px;

        &#splide04-clone09 {
          z-index: 9 !important;
        }

        &#splide04-clone10 {
          z-index: 10 !important;
        }

        &#splide04-slide02,
        &#splide04-clone02,
        &#splide04-clone10 {
          .text {
            border: 2px solid #FF7D46;
          }
        }

        &#splide04-slide04,
        &#splide04-clone04,
        &#splide04-clone12 {
          .text {
            border: 2px solid rgba(51, 209, 109, 1);
          }
        }

        &#splide04-slide06,
        &#splide04-clone06 {
          .text {
            border: 2px solid rgba(82, 183, 255, 1);
          }
        }

        &#splide04-slide08,
        &#splide04-clone08 {
          .text {
            border: 2px solid rgba(169, 217, 83, 1);
          }
        }


        div:not(.description) {
          height: 450px;
          width: 450px;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
        }

        .image {
          img {
            object-fit: cover;
            position: absolute;
            background-position: 50% 50%;
          }

          .description {


            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            padding: 12px;
            max-width: 271px;
            min-width: 270.5px;

            background-color: rgba(255, 255, 255, 0.72);
            border-radius: 12px;
            z-index: 1;
            display: flex;
            gap: 8px;
            height: fit-content;
            flex-direction: column;

            p {
              &:first-child {
                font-weight: 600;
                line-height: 140%;
              }

              &:last-child {
                font-size: 14px;
                line-height: 150%;
              }
            }
          }
        }

        .text {
          background-color: $white;
          position: relative;

          .description {
            top: 106px;
            left: 70px;
            position: absolute;
            max-width: 310px;
            display: flex;
            gap: 16px;
            flex-direction: column;

            p {
              &:first-child {
                font-weight: 600;
                font-size: 28px;
                line-height: 130%;
              }

              &:last-child {
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
              }
            }
          }

        }
      }

      &__arrows {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        align-self: center;
        max-width: 1368px;
        width: 100%;

      }

      &__arrow {
        border: none;
        background-color: transparent;
        width: fit-content;
        height: fit-content;
      }

      &__arrow--next {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

}