.standarts {
  margin-top: 158px;
  padding-bottom: 241px;

  .wrapper {
    position: relative;
    background: $mint;
    border: 16px;
    padding: 72px 60px 582px;

    .head {
      display: flex;
      max-width: 965px;
      gap: 5px;
      flex-direction: column;

      h2 {
        &:nth-child(1) {
          align-self: flex-start;
        }

        &:nth-child(2) {
          align-self: end;
        }
      }
    }

    .standart-points {
      margin-top: 64px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;

      div {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
          font-weight: 500;
          font-size: 24px;
          line-height: 130%;
        }
      }
    }

    .wheel {
      position: absolute;
      right: 85px;
      top: -60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 286px;
      height: 286px;
      border-radius: 50%;
      background-color: $white;

      svg {
        position: absolute;
        -webkit-animation: rotating 20s linear infinite;
        -moz-animation: rotating 20s linear infinite;
        -ms-animation: rotating 20s linear infinite;
        -o-animation: rotating 20s linear infinite;
        animation: rotating 20s linear infinite;
      }
    }

    img {

      &:nth-child(4) {
        top: 544px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
      }
    }
  }
}